mslib:
  deployment:
    {{PROJECT_SLUG}}:
      image: registry.gitlab.com/2ndwatch/microservices/integrations/{{PROJECT_SLUG}}/{{PROJECT_SLUG}}
      imageTag: 0
      imagePullPolicy: Always
      serviceAccountName: {{PROJECT_SLUG}}

  serviceAccount:
    {{PROJECT_SLUG}}:
      annotations:
        eks.amazonaws.com/role-arn: REPLACE