mslib:
  deployment:
    {{PROJECT_SLUG}}:
      image: registry.gitlab.com/2ndwatch/microservices/commandlers/{{PROJECT_SLUG}}/{{PROJECT_SLUG}}
      imageTag: 0
      imagePullPolicy: Always
      serviceAccountName: {{PROJECT_SLUG}}
      env:
        YOUR_ENV_VAR: thevalue
        ANOTHER_ENV_VAR: anothervalue

  serviceAccount:
    {{PROJECT_SLUG}}:
      annotations:
        eks.amazonaws.com/role-arn: REPLACE