# {{PROJECT_SLUG}} - Java Commandler

This project was initialized using the [ms-scaffolder repository template](https://gitlab.com/2ndwatch/microservices/templates/ms-scaffolder). Please see README-Makefile.md for Makefile command information.

# System Dependencies

- `docker` = 20.10.x
- `make` = 4.x
